[user]
	name = Nikola Lohinski
	email = nikolalohinski@gmail.com
[alias]
	ck = checkout
	ckb = checkout -b
	rb = rebase
	st = status
	ft = fetch
	br = branch
	pl = pull
	plr = pull --rebase
	ph = push
	cm = commit
	cmnd = commit --amend
	frc = push --force-with-lease
	wip = commit -m 'WIP: ⚠️ DO NOT MERGE THIS COMMIT ⚠️'
	review = commit -m 'fix: code review'
	obliviate = reset --hard
	prev = checkout HEAD^1
	next = "!sh -c 'git log --reverse --pretty=%H master | awk \"/$(git rev-parse HEAD)/{getline;print}\" | xargs git checkout'"
	fxp = rebase -i HEAD~10
	hist = log --pretty=format:'%Cred%h%Creset %C(yellow)<%an>%Creset %s %Cgreen(%cr)' --abbrev-commit
	tobrname = "!_() { echo \"$1\" | sed \"s/\\(.*\\)/\\L\\1/g\" | sed \"s/[^abcdefghijklmnopqrstuvwxyz0123456789]/-/g\" | sed \"s/-\\+/-/g\" | sed \"s/[-]\\(.*\\)/\\1/g\" | cut -c1-255; }; _"
[core]
	editor = nano
	excludesfile = /home/agent-k/.gitignore
[push]
    default = current
q